.nav-bar{
  background-color: #222223;
  border-radius: 25px;
  display: flex;
}

.flex-spacer{
  flex-grow: 1;
}

.nav-bar-header{
  flex-direction:row;
  justify-content: flex-start;
}

.nav-bar-items {
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-bar-button {
  border-style: solid;
  border-width:1px;
}