<div class="button-group">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="Xan" (click)='changeOwner("Xan")'>Xan</mat-button-toggle>
    <mat-button-toggle value="Nena" (click)='changeOwner("Nena")'>Nena</mat-button-toggle>
    <mat-button-toggle value="Beide" (click)='changeOwner("Beide")'>Beide</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<form autocomplete="off" *ngIf="showTodoForm()" class="todo-input">
  <mat-form-field class="todo-input-item">
    <input matInput #inputTodo placeholder="Voeg een todo toe">
  </mat-form-field>
  <button (click)='voegTodoToe(inputTodo.value)' (click)="inputTodo.value=''" mat-button>Voeg todo toe</button>
</form>
<div *ngFor="let todo of todosForAnOwner">
  <mat-list *ngIf="showTodoForm()"  class="list">
    <mat-list-item *ngIf="!todo.done" class="list-item">
      <mat-checkbox [checked]="todo.done" (change)="updateDone(todo)">{{todo.todo}}</mat-checkbox>
    </mat-list-item>
    <mat-list-item *ngIf="todo.done" class="list-item-crossed">
      <mat-checkbox [checked]="todo.done" (change)="updateDone(todo)">{{todo.todo}}</mat-checkbox>
    </mat-list-item>
    <br>
    <svg xmlns="http://www.w3.org/2000/svg" class="bin" width="24" height="24" viewBox="0 0 24 24" (click)="verwijderTodo(todo)">
      <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
      <path d="M0 0h24v24H0z" fill="none" /></svg>
    <mat-divider></mat-divider>
  </mat-list>
</div>