.todo-input {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .todo-input-item {
    width: 100%;
    color: 222223;
  }

  .list-item{
    float:left;    
    min-width: 150px;
    max-width: 400px;
    height: auto;
  }

  .list-item-crossed{
    float:left;
    text-decoration: line-through;    
    min-width: 150px;
    max-width: 400px;
    height: auto;
  }

.bin {
  cursor: pointer;
}

  .list{
    margin:auto;
    max-width: 500px;
    width: 450px;
    height: auto;
  }

  .button-group{
    margin:auto;
    max-width: 500px;
    height: auto;
    min-width: 150px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: #EFEFEF;
  }
  